@import "nullStyle";


body {
  padding: 100px;
}

.button {
  text-decoration: none;
  display: inline-block;
  line-height: 60px;
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 10px;
  top: 0;
  position: relative;
}

.button-1 {
  color: #ffffff;
  background-color: #5e5373;
  box-shadow: 0 5px 0 #3c354a;
  transition: all 0.5s ease 0s;
}

.button-1:hover {
  transition: all 2s ease 0s;
  top: 2px;
  box-shadow: #3c354a;
  background-color: #18b5a4;

}