body {
    padding: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block {
    border: 5px solid red;
    max-width: 800px;
    margin: 0 auto;
    height: 800px;
}

.block div{
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    position: relative;
}
.block__1 {
    background-color: #bfde73;
}
.block__2 {
    background-color: #515637;
    position: absolute;
    z-index: 5;
    top: 20px
;
}
.block__3 {
    background-color: #7fa87f;
}